# Server
PORT=5000
NODE_ENV=development

# Database
MONGO_URI=mongodb://127.0.0.1:27017/gifttory

# JWT (used for User + Admin API authentication)
JWT_SECRET=change_this_to_a_long_random_secret
JWT_EXPIRES_IN=7d

# Session (used for Admin Panel EJS login)
SESSION_SECRET=change_this_to_a_long_random_secret

# Default Admin (created by seed script)
ADMIN_NAME=Gifttory Admin
ADMIN_EMAIL=admin@gifttory.com
ADMIN_PASSWORD=Admin@123

# Base URL (used to build image URLs)
BASE_URL=http://localhost:5000
