node_modules/
.env
uploads/products/*
!uploads/products/.gitkeep
uploads/categories/*
!uploads/categories/.gitkeep
uploads/occasions/*
!uploads/occasions/.gitkeep
uploads/banners/*
!uploads/banners/.gitkeep
uploads/blogs/*
!uploads/blogs/.gitkeep
uploads/testimonials/*
!uploads/testimonials/.gitkeep
*.log
.DS_Store
